@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --comp: #efefef;
  --hover-button: #efefef;
  --hover-button-dark: #282828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

body {
  overflow: hidden;
  margin: 0;
  height: calc(100vh - 1rem);
  background: var(--background);
  color: var(--foreground);
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "sidebar sidebar content content content content content content";
  transition: all 0.2s;
}

@media (width <= 40rem /* 640px */) {
  .sidebar-button > span {
    display: none;
  }

  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "sidebar sidebar sidebar sidebar" "content content content content";
  }
}

.sidebar div div {
  @apply cursor-pointer my-2;
}

.sidebar {
  grid-area: sidebar;
  height: calc(100% - 1rem);
}

.sidebar-button {
  @apply rounded-md transition-all items-center;
  padding: 0.5rem;
}

.content,
main {
  grid-area: content;
  height: calc(100vh - 5rem);
}

.post {
  border-bottom: 2px solid black;
}

.post-button:hover,
.sidebar-button:hover {
  background-color: var(--hover-button);
}

body[dark="true"] {
  background-color: var(--foreground);
  color: var(--background);
}

body[dark="true"] .sidebar-button:hover,
body[dark="true"] .post-button:hover {
  background-color: var(--hover-button-dark);
}
body[dark="true"] .post {
  border-bottom: 2px solid white;
}

::-webkit-scrollbar {
  width: 0;
}
